<div id="item-1">
    <nav class="menu-sidebar">

        <ul>

            <li class="nav-item">

                <div class="link-bg azul"></div>
                <div class="link-title">

                    <div class="icone"> <i class="icofont-soft-drinks"></i></div>
                    <a href="#" class="clique"><span>Mensagens</span></a>

                </div>

            </li>

            <li class="nav-item">

                <div class="link-bg azul"></div>
                <div class="link-title">

                    <div class="icone"> <i class="icofont-apple"></i></div>
                    <a href="#" class="clique"><span>Agenda</span></a>

                </div>

            </li>

            <li class="nav-item">

                <div class="link-bg azul"></div>
                <div class="link-title">

                    <div class="icone"> <i class="icofont-chicken-fry"></i></div>
                    <a href="/cadastrar" class="clique"><span>Cadastrar</span></a>

                </div>

            </li>

            <li class="nav-item">

                <div class="link-bg azul"></div>
                <div class="link-title">

                    <div class="icone"> <i class="icofont-hot-dog"></i></div>
                    <a href="#" class="clique"><span>Ver Cadastro</span></a>

                </div>

            </li>

        </ul>

    </nav>
</div>