<figure class="profile-card">
  
    <div class="profile-image">
      <img src="/img/igreja.jpg" alt="sample47" />
    </div>
    
    <figcaption>
    
      <h2>WebApp</h2>
      <span>Desenvolvedor Erasmo Cardoso</span>
      <p>
        O aplicativo web de gerenciamento de cadastro de fiéis e igrejas é uma solução 
        completa que permite armazenar e gerenciar informações pessoais de membros da igreja
        A plataforma oferece ferramentas intuitivas e fáceis de usar, que permitem aos usuários
        manter registros atualizados sobre endereços, números de telefone, datas de aniversário
        e outras informações relevantes sobre os membros da igreja.
        Construído com tecnologias modernas e escaláveis, o aplicativo web é seguro e eficiente, 
        com uma interface amigável que facilita a navegação pelos usuários. Com uma arquitetura 
        de dados sólida e confiável, ele pode crescer e evoluir à medida que a igreja cresce 
        e se expande.
     </p>
    
      <div class="icons"><a href="#"><i class="ion-social-reddit"></i></a>
        
        <a href="https://twitter.com/LoopNerd" target="_blank"> <i class="icon icon-twitter"></i></a>
        <a href="https://www.facebook.com/loopnerd" target="_blank"> <i class="icon icon-facebook"></i></a>
        <a href="https://www.instagram.com/blog.loopnerd/" target="_blank"> <i class="icon icon-instagram"></i></a>
  
      </div>
    
    </figcaption>
  
  </figure>